doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title utility
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    
  body

    article

      section
        h2#a1 Bootstrap Introduction
        h3 Powered by <a href="https://www.npmjs.com/package/bespoke">Bespoke</a>
        h3#a2 Team List :
        p  1.Riandy Irvan Winargo
        p  2.Denis Suryanto
        p  3.Jilbert
        
      section
        h2 Lets get Started !!
        h3#a3 fullscreen click button below 
        input#fullscreen(type="button",value="click to toggle fullscreen",onclick="toggleFullScreen()")
        
      section
        h2#a4 Set Your workspaces !!!
        h3 Background-Color :
        form
            input#color1(type="color",name="color1")
            input#submitColor1(type="button",value="Apply")
        h3 Style Few Fonts :
        
        form
            input#color2(type="color",name="color2")
            input#submitColor2(type="button",value="Apply")
            
        h2#a test here
        
      section
        h2#a5 Interactive features
            input#enablemouse(type="button",value="Enable Mouse Scroll")
            input(type="button",value="alert",onclick="promptpopup()")
            input(type="button" value="confirm" onclick="confirmpopup()")
        p#test(class="color") hi
        
        script.
            function promptpopup()
            {
                var st = prompt("")
                alert(st)
            }
            var c=confirm(Not Allowed To Go On , if you are under 18. Are you ?)
            function confirmpopup()
            {
            if (c==true)
            alert(you can go on this page)
            else
            alert(Not Allowed)
            }

      section
        h2 What is Bootstrap ?
        p#a7 Bootstrap adalah framework yang digunakan untuk menstyling web anda dengan CSS yang sudah diminified dan JS script yang sudah di minified juga untuk memaksimalisasikan tampilan CSS dan Javascript pada web anda.
        
      section
        h2#colored.bullet Apa itu Bootstrap?<br><br>
        ul
          li Bootstrap  adalah framework
          li Bootstrap untuk web yang memiliki CSS and Javascript
          li Bootstrap sangat fleksible
          li Bootstap untuk membangun web Secara Dinamis dan Statis
        h3#colored <a href="http://getbootstrap.com/getting-started/">Advance Here</a>
        

      section
        h2#colored Bootstrap Implementation
        p#a8 Provide a link to Boostrap using html tags.
        prea
           code.language-javascript.
                "<"Link rel='stylesheet'
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                crossorigin="anonymous">

                "<"script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        
      section
        h2#colored.bullet Overviews<br>
        ul 
          li Containers
          li Responsive breakpoints
          li Z-index
        
      section
<<<<<<< HEAD
<<<<<<< HEAD
        h2#colored Containers<br>
        p#a9 Containers adalah element layout paling dasar dalam Bootstrap dan diperlukan ketika kita mengunakan default grid system. Pemilihan dari responsive, fixed-width (lebar dari Containers akan menjadi maksimum) dan fuild-width(lebarnya akan selalu 100%). 

=======
=======
>>>>>>> 6f1e9a68c533e9d5b7159578929021709650bbbc
        h2.bullet Containers<br>
        p Containers adalah element layout paling dasar dalam Bootstrap dan diperlukan ketika kita mengunakan default grid system. Pemilihan dari : 
        ul
         li 1. responsive 
         li 2. fixed-width 
         li 3. fuild-width 
        
      section
        h2 Contoh fixed-width<br>
        p standard
        img.def2(src="images/Capture3.jpg")
        br
        p lebar container menjadi maksimum
        img.def(src="images/Capture2.jpg")
        
      section
        h2 Contoh fuild-width<br>
        p standard
        img.def(src="images/Capture2.jpg")
        br
        p lebar menjadi maksimum
        img.def(src="images/Capture1.jpg")
        
      section
        h2 Contoh Responsive<br>
        p responsive adalah layout yang akan menyesuaikan diri dengan device yang digunakan.
        img.def1(src="images/RWD.png")
        
<<<<<<< HEAD
>>>>>>> 6f1e9a68c533e9d5b7159578929021709650bbbc
=======
>>>>>>> 6f1e9a68c533e9d5b7159578929021709650bbbc
      section
        h2#colored Responsive breakpoints<br>
        p#a10 Sejak Bootstrap dikembangkan ke mobile, query digunakan untuk membuat layout dan tampilan. Breakpoint ini selalu bedasarkan lebar minumum dan memperbolehkan kita untuk meningkatkan elementnya. 
          
      section
        h2#colored Responsive breakpoints<br>
        p#a11 Contoh Mengunakan Media Query
        prea
           code.language-query.                
                // Small devices (landscape phones, 576px and up)
                @media (min-width: 576px) { ... }

                // Medium devices (tablets, 768px and up)
                @media (min-width: 768px) { ... }

                // Large devices (desktops, 992px and up)
                @media (min-width: 992px) { ... }

                // Extra large devices (large desktops, 1200px and up)
                @media (min-width: 1200px) { ... }

      section
        h2#colored Responsive breakpoints<br>
        p#a12 Contoh Mengunakan Media Query
        prea
           code.language-query.                
                @include media-breakpoint-up(xs) { ... }
                @include media-breakpoint-up(sm) { ... }
                @include media-breakpoint-up(md) { ... }
                @include media-breakpoint-up(lg) { ... }
                @include media-breakpoint-up(xl) { ... }

                // Example usage:
                @include media-breakpoint-up(sm) {
                    .some-class {
                    display: block;
                    }
                }
                
      section
        h2#colored Z-index<br>
        p#a13 Beberapa komponen Bootstrap Mengunakan "Z-index", properti "CSS" membantu dalam mengatur posisi dan konten web. dengan mengunakan skala default "Z-index" di bootstrap yang dirancang untuk Merapikan navigasi, toolips, popovers, modals dan lain lain.
        
      section
        h2#colored Contoh Z-index<br>
        prea
           code.language-query.
                $zindex-dropdown-backdrop: 990 !default;
                $zindex-navbar:           1000 !default;
                $zindex-dropdown:         1000 !default;
                $zindex-fixed:            1030 !default;        
                $zindex-sticky:           1030 !default;
                $zindex-modal-backdrop:   1040 !default;
                $zindex-modal:            1050 !default;
                $zindex-popover:          1060 !default;
                $zindex-tooltip:          1070 !default;
                
      section
        h2#colored Thank you
        h2#colored very much

    script(src='build/build.js')
    script(src='build/riandy.js')
    script(src='build/denis.js')
    script(src='build/jilbert.js')
