doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title utility
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    Link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
    script(type="text/javascript" src="build/riandy.js")
    script(type="text/javascript" src="build/denis.js")
    
  body

    article

      section
        h1 Bootstrap Introduction
        h2 Powered by <a href="https://www.npmjs.com/package/bespoke">Bespoke</a>
        h2 Team List :
        p  1.Riandy Irvan Winargo
        p  2.Denis Suryanto
        p  3.Jilbert
        
      section
        h1 Lets get Started !!
        h2 fullscreen click button below 
        input#fullscreen(type="button",value="click to toggle fullscreen",onclick="toggleFullScreen()")
        
      section
        h1 Set Your Text Color !!!
        h2 Font-Color :
        div 
            input#color1(type="color",name="color")
            input#submitColor(type="button",value="Apply",onclick="ubah_warna()")
            
        h1#ww test here
        
       section
        h1 Set Your workspaces !!!
        h2 Background-Color :
        form
            input#color2(type="color",name="color")
            input#submitColor(type="button",value="Apply",onclick="ubah_back()")
        
       section
        h1 Interactive features
        input#enablemouse(type="button",value="Enable Mouse Scroll",onclick="changebg()")
        
       section
        h1 What is Bootstrap ?
        p Bootstrap adalah framework yang digunakan untuk menstyling web anda dengan CSS yang sudah diminified dan JS script yang sudah di minified juga untuk memaksimalisasikan tampilan CSS dan Javascript pada web anda.
        
       section
        h1.bullet Apa itu Bootstrap?<br><br>
        ul
          li Bootstrap  adalah framework
          li Bootstrap untuk web yang memiliki CSS and Javascript
          li Bootstrap sangat fleksible
          li Bootstap untuk membangun web Secara Dinamis dan Statis
        h2 <a href="http://getbootstrap.com/getting-started/">Advance Here</a>
        

      section
        h1 Bootstrap Implementation
        p Provide a link to Boostrap using html tags.
        pre#aa
           code.language-javascript.
                "<"Link rel='stylesheet'
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                crossorigin="anonymous">

                "<"script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        
      section
        h1.bullet Overviews<br>
        ul 
          li Containers
          li Glyphicons
          li Responsive breakpoints
          li Z-index
        
      section
        h1 Containers<br>
        p Containers adalah element layout paling dasar dalam Bootstrap dan diperlukan ketika kita mengunakan default grid system. Pemilihan dari responsive, fixed-width (lebar dari Containers akan menjadi maksimum) dan fuild-width(lebarnya akan selalu 100%). 
        
      section
        p Examples of Glyphicons
          span(class="glyphicons glyphicons-glass")
        
      section
        h1 Responsive breakpoints<br>
        p Sejak Bootstrap dikembangkan ke mobile, query digunakan untuk membuat layout dan tampilan. Breakpoint ini selalu bedasarkan lebar minumum dan memperbolehkan kita untuk meningkatkan elementnya. 
          
      section
        h1 Responsive breakpoints<br>
        p Contoh Mengunakan Media Query
        pre#aa
           code.language-query.                
                // Small devices (landscape phones, 576px and up)
                @media (min-width: 576px) { ... }

                // Medium devices (tablets, 768px and up)
                @media (min-width: 768px) { ... }

                // Large devices (desktops, 992px and up)
                @media (min-width: 992px) { ... }

                // Extra large devices (large desktops, 1200px and up)
                @media (min-width: 1200px) { ... }

      section
        h1 Responsive breakpoints<br>
        p Contoh Mengunakan Media Query
        pre#aa
           code.language-query.                
                @include media-breakpoint-up(xs) { ... }
                @include media-breakpoint-up(sm) { ... }
                @include media-breakpoint-up(md) { ... }
                @include media-breakpoint-up(lg) { ... }
                @include media-breakpoint-up(xl) { ... }

                // Example usage:
                @include media-breakpoint-up(sm) {
                    .some-class {
                    display: block;
                    }
                }
                
      section
        h1 Z-index<br>
        p Beberapa komponen Bootstrap Mengunakan "Z-index", properti "CSS" membantu dalam mengatur posisi dan konten web. dengan mengunakan skala default "Z-index" di bootstrap yang dirancang untuk Merapikan navigasi, toolips, popovers, modals dan lain lain.
        
      section
        h1 Contoh Z-index<br>
        pre#aa
           code.language-query.
                $zindex-dropdown-backdrop: 990 !default;
                $zindex-navbar:           1000 !default;
                $zindex-dropdown:         1000 !default;
                $zindex-fixed:            1030 !default;        
                $zindex-sticky:           1030 !default;
                $zindex-modal-backdrop:   1040 !default;
                $zindex-modal:            1050 !default;
                $zindex-popover:          1060 !default;
                $zindex-tooltip:          1070 !default;
                
                
      section
        h1 Thank you
        h1 very much

    script(src='build/build.js')
